@use "../variebles";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.gena {
    background-color: yellow;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    height: 200px;

    &__title {
       font-size: 30px;
        text-align: center;
        font-family: var(--podkova-font);
  font-weight: 400;
  font-style: normal;
  padding-top: 50px;

  @media screen and (min-width: 1200px) {
     font-size: 54px;
  }
    }
}