@use "../variebles";

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -120px;
  height: 700px;
  background-image: url("../../img/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-color);
  padding: 100px 0;
  font-family: var(--podkova-font);
  padding-top: 300px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    height: 800px;

  }

  &__title {
     font-size: 35px;
  }
}

.hero__description {
  max-width: 600px;
}

.hero__logo {
  border-radius: 20px;
}

.hero__text {
  background-color: var(--background-color);
  outline: solid yellow 2px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: auto;
}
