.header {
    background-color: var(--background-color);
    outline: solid yellow 1px;
    
}

.footer {
    outline: solid yellow 1px;
}

.price {
    background-color: var(--background-color);
    padding-top: 50px;
    padding-bottom: 50px;
    
}