:root {
    --background-color:  #383838;
    --text-color: #ffffff;

    /* Основна палітра */
  --color-white: #ffffff;
  --color-graphite-dark: #2f2f2f;
  --color-graphite: #383838;
  --color-text-secondary: #555555;

  /* Фони та бордери */
  --color-bg-light: #f9f9f9;
  --color-bg-hover: #f1f1f1;
  --color-border: #c0c0c0;
  --color-shadow: rgba(0, 0, 0, 0.05);

  /* Акценти */
  --color-accent: yellow;

  /* Контейнер */
  --container-max-width: 1200px;

}


.header {
    background-color: var(--background-color);
    outline: solid yellow 1px;
}

.footer {
    outline: solid yellow 1px;
}

li {
    list-style: none;
}

body {
  color: black;
  background-color: var(--background-color);
}

.trainer-card__photo {
  border: 2px solid yellow;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;

  @media screen and (min-width: 1200px) {
    width: 350px;
  }
}

.trainer-card {
  display: flex;
  flex-direction: column;
  

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.trainer__flex {
  display: flex;
  flex-direction: column;
  
  

  @media screen and (min-width: 1200px) {
    margin-left: 20px;
  }
}

.trainers-section__track {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-left: 0;

  @media screen and (min-width: 1200px) {
    
  }
}

.trainer-card__name {
  padding-top: 30px;
  color: yellow;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.trainer-card__text {
  margin-top: 20px;
  max-width: 600px;
  text-align: justify;
  color: white;

}

.trainers-section__title {
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}