@use "./base";
@use "bloks/header";
@use "bloks/hero";
@use "bloks/gena";
@use "bloks/galery";
@use "bloks/trainers";
@use "bloks/price";
@use "bloks/history";
@use "bloks/warninggym";
@use "bloks/contacts";
@use "bloks/footer";
